#Test {
    color: darkblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: rgb(86, 238, 94);
}

#Test2 {
    color: darkblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: rgb(86, 238, 94);
}

#Test3 {
    color: darkblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: rgb(86, 238, 94);
}

#not {
    color: darkblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: rgb(86, 238, 94);
}

#not2 {
    color: darkblue;
    font-size: 25px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: rgb(86, 238, 94);
}